<br>
<label>Nombre: </label>
<label><%= autor %></label>
<br>
<br>
<label>Foto del autor: </label>
<br>
<IMG SRC="/imgs/autor.jpg" WIDTH=204 HEIGHT=247 BORDER=2 ALT="Iñaki Luengas">
<br>
<br>
<label>Video presentación: </label>
<br>
 <video width="320" height="240" controls>
  <source src="/videos/movie.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video> 

